<body id="page-top">
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
        <div class="container px-4 px-lg-5">
            <a class="navbar-brand" href="inicio#page-top">ALPHA SERVICE</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ms-auto my-2 my-lg-0">
                    <li class="nav-item"><a class="nav-link" href="#about">Sobre nosotros</a></li>
                    <li class="nav-item"><a class="nav-link" href="#devs">Equipo</a></li>
                    <li class="nav-item"><a class="nav-link" href="#contact">Contacto</a></li>
                    <% if user_signed_in?%>
                    <li class="nav-item"><%= link_to 'Ver Perfil', root_path, class:'nav-link' %></li>
                    <li class="nav-item"><%= link_to "Editar Perfil", edit_user_registration_path, class:'nav-link'  %></li>
                    <li class="nav-item"><%= link_to "Cerrar Sesión", destroy_user_session_path, :method => :delete, class:'nav-link' %></li>
                    <% else %>
                    <li class="nav-item"><%= link_to 'Iniciar', user_session_path, class:'nav-link' %></li>
                    <% end %>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Masthead-->
    <header class="masthead">
        <div class="container px-4 px-lg-5 h-100">
            <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
                <div class="col-lg-8 align-self-end">
                    <img class="img-fluid" src="../assets/img/as1.png">
                </div>
                <div class="col-lg-8 align-self-baseline">
                    <a><%= link_to 'registrarse', new_user_registration_path, class:'margintop btn btn-primary btn-xl' %></a>
                </div>
            </div>
        </div>
    </header>
    <!-- About-->
    <section class="page-section bg-primary" id="about">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-lg-8 text-center">
                    <h2 class="text-white mt-0">Nuestro Objetivo</h2>
                    <hr class="divider divider-light" />
                    <p class="text-white-75 mb-4">Ofrecer un programa que favorezca a los estudiantes de grados superiores a la hora de comenzar su proceso de alfabetización dándole diversas herramientas para que pueda completar este requisito de manera ágil y asertiva.</p>
                    <a class="btn btn-light btn-xl" href="#page-top">Comienza</a>
                </div>
            </div>
        </div>
    </section>

    <!--Values-->
    <section class="page-steps">
        <div class="container px-4 px-lg-5">
                <h2 class="text-center mt-0">Valores Corporativos</h2>
                <hr class="divider" />
            <div class="row gx-1 gx-lg-5">
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="mt-5">
                        <div class="mb-2"><i class="bi-clipboard fs-1 text-primary"></i></div>
                        <h3 class="h4 mb-2">Compromiso</h3>
                        <p class="text-muted mb-0">Se requiere de compromiso para poder alcanzar todos los objetivos que se tiene con este proyecto y lograr que este cuente con todo lo necesario para poder darle a los usuarios un servicio de calidad.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="mt-5">
                        <div class="mb-2"><i class="bi-laptop fs-1 text-primary"></i></div>
                        <h3 class="h4 mb-2">Dedicacion</h3>
                        <p class="text-muted mb-0">La dedicación es algo esencial para nuestro proyecto, ya que nos permite estar enfocados en satisfacer las necesidades que se tengan, e ir un poco más con las cosas que se nos pidan.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="mt-5">
                        <div class="mb-2"><i class="bi-globe fs-1 text-primary"></i></div>
                        <h3 class="h4 mb-2">Respeto</h3>
                        <p class="text-muted mb-0">El respeto entre los integrantes del proyecto y con los clientes, es fundamental para mantener el equipo trabajando en conjunto, lo que permite mayor eficacia y mejor fluidez en las reuniones de planeación y análisis.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="mt-5">
                        <div class="mb-2"><i class="bi-heart fs-1 text-primary"></i></div>
                        <h3 class="h4 mb-2">Compañerismo</h3>
                        <p class="text-muted mb-0">Nos permite ser más colaborativos entre nosotros, porque entendemos la importancia de ayudarnos entre todos los integrantes, para hacer menos pesado las cargas que tengan los otros.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <!-- Mision & Vision-->

    <hr class="divider" />
    <section class="misvis">
        <div class="container px-4 px-lg-5" >
            <img class="misionimg" src="<%= image_path("mision.jpg") %>" style="float: right;">
            <div class="row-cols-auto gx-4 gx-lg-8 justify-content-center">
                <div class="col-lg-5 ">
                    <h2 class="text-black mt-0 ">Mision</h2>
                    <p class="text-black-75 mb-4">Nosotros como Alpha Services, tenemos el objetivo de ayudar a todos los jóvenes estudiantes que se encuentren con dificultades para iniciar con su proceso de Servicio Social, brindándoles apoyo a través de las diferentes herramientas que ofrece el aplicativo.</p>
                </div>
            </div>
        </div>


        <hr class="divider divider-light" />
    <div class="vision">
        <div class= "container px-4 px-lg-5" >
            <img class="visionimg" src="<%= image_path("vision.jpg") %>" style="float: left;">
                <div class="row-cols-auto gx-4 gx-lg-8 justify-content-center">
                <div class="txtvision col-lg-5"  >
                    <h2 class="text-black mt-0">Vision</h2>
                    <p class="text-black-75 mb-4">Nuestro objetivo a futuro es poder brindar este servicio a todas las instituciones educativas que lo requieran, permitiendo que cada vez más estudiantes puedan hacer de este proceso algo más ameno y puedan cumplir con todos los requerimientos para hacer oficial su graduación.</p>
                </div>
            </div>
        </div>
    </div>
    </div>
    </section>

        

    <!--Devs-->
    <hr class="divider divider-light" />
    <section class="devs" id="devs">
        <div class="container px-4 px-lg-5">
            <h2 class="text-center mt-0">Equipo de Desarrollo</h2>
                <hr class="divider" />
                <div class="row gx-4 gx-lg-8 ">
                    <div class="col-lg-4 col-md-6 text-center">
                        <div class="mt-5">
                            <h3 class="h4 mb-2">FxShadow</h3>
                            <p class="text-black-75 mb-0">Team Leader,Back-End Developer</p>
                            <div class="mb-2"><i class="bi-egg-fried fs-1 text-primary"></i></div>
                        </div>
                    </div>
                
        
                <div class="col-lg-4 col-md-6 text-center">
                    <div class="mt-5">
                        <h3 class="h4 mb-2">FxSorak</h3>
                        <p class="text-black-75 mb-0">Front-End Developer</p>
                        <div class="mb-2"><i class="bi-emoji-sunglasses fs-1 text-primary"></i></div>
                    </div>
                </div>
            

                    <div class="col-lg-4 col-md-6 text-center">
                        <div class="mt-5">
                            <h3 class="h4 mb-2">Lkf155</h3>
                            <p class="text-black-75 mb-0">Back-End Developer</p>
                            <div class="mb-2"><i class="bi-tsunami fs-1 text-primary"></i></div>
                        </div>
                    </div>
            </div>
        </div>
    </section>       


    <!-- Contact-->
    <section class="page-section" id="contact">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-lg-8 col-xl-6 text-center">
                    <h2 class="mt-0">Contactanos</h2>
                    <hr class="divider" />
                    <p class="text-muted mb-5">Si tienes alguna duda o quieres mas informacion, contactanos.</p>
                </div>
            </div>
            <div class="row gx-4 gx-lg-5 justify-content-center mb-5">
                <div class="col-lg-6">
                    <!-- * * * * * * * * * * * * * * *-->
                    <!-- * * SB Forms Contact Form * *-->
                    <!-- * * * * * * * * * * * * * * *-->
                    <!-- This form is pre-integrated with SB Forms.-->
                    <!-- To make this form functional, sign up at-->
                    <!-- https://startbootstrap.com/solution/contact-forms-->
                    <!-- to get an API token!-->
                    <form id="contactForm" data-sb-form-api-token="API_TOKEN">
                        <!-- Name input-->
                        <div class="form-floating mb-3">
                            <input class="form-control" id="name" type="text" placeholder="Enter your name..." data-sb-validations="required" />
                            <label for="name">Nombre Completo</label>
                            <div class="invalid-feedback" data-sb-feedback="name:required">Nombre requerido</div>
                        </div>
                        <!-- Email address input-->
                        <div class="form-floating mb-3">
                            <input class="form-control" id="email" type="email" placeholder="name@example.com" data-sb-validations="required,email" />
                            <label for="email">Direccion de Correo Electronico</label>
                            <div class="invalid-feedback" data-sb-feedback="email:required">Correo electronico requerido</div>
                        </div>
                        <!-- Phone number input-->
                        <div class="form-floating mb-3">
                            <input class="form-control" id="phone" type="tel" placeholder="(123) 456-7890" data-sb-validations="required" />
                            <label for="phone">Numero de Telefono</label>
                            <div class="invalid-feedback" data-sb-feedback="phone:required">Numero de telefono requerido</div>
                        </div>
                        <!-- Message input-->
                        <div class="form-floating mb-3">
                            <textarea class="form-control" id="message" type="text" placeholder="Enter your message here..." style="height: 10rem" data-sb-validations="required"></textarea>
                            <label for="message">Escriba su mensaje</label>
                            <div class="invalid-feedback" data-sb-feedback="message:required">Mensaje requerido.</div>
                        </div>
                        <!-- Submit success message-->
                        <!---->
                        <!-- This is what your users will see when the form-->
                        <!-- has successfully submitted-->
                        <div class="d-none" id="submitSuccessMessage">
                            <div class="text-center mb-3">
                                <div class="fw-bolder">Su mensaje ha sido enviado, se le contactara pronto!</div>
                                <br />
                            </div>
                        </div>
                        <!-- Submit error message-->
                        <!---->
                        <!-- This is what your users will see when there is-->
                        <!-- an error submitting the form-->
                        <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3">Ha ocurrido un error!</div></div>
                        <!-- Submit Button-->
                        <div class="d-grid"><button class="btn btn-primary btn-xl disabled" id="submitButton" type="submit">Enviar</button></div>
                    </form>
                </div>
            </div>
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-lg-4 text-center mb-5 mb-lg-0">
                    <i class="bi-phone fs-2 mb-3 text-muted"></i>
                    <div>+57 (317)899 53 21</div>
                </div>
            </div>
        </div>
    </section>
    <!-- Footer-->
    <footer class="bg-light py-5">
        <div class="container px-4 px-lg-5"><div class="small text-center text-muted">Copyright &copy; 2021 - Alpha Service</div></div>
    </footer>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
    <!-- SimpleLightbox plugin JS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.js"></script>

    <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>

</body>
