<%= form_with(model: hour) do |form| %>
  <% if hour.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(hour.errors.count, "error") %> prohibited this hour from being saved:</h2>

      <ul>
        <% hour.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :Número_de_Horas %>
    <%= form.number_field :number_hours, class:"inputmid form-group"%>
  </div>

  <div class="field">
    <%= form.label :Observaciones %><br>
    <%= form.text_area :observations, class:"inputobs" %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
