<body>
<div class="container-fluid">
    <div class="row">
        <div class="topnav col-md-12 themed-grid-col" style="border-bottom: 2px solid #000"></div>
        <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
        <div class="container px-4 px-lg-5">
            <a class="navbar-brand" href="inicio#page-top">Alpha Services - Inicio</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ms-auto my-2 my-lg-0">
                    <% if user_signed_in? %>
                    <li class="nav-item"><%= link_to "Editar Perfil", edit_user_registration_path, class:"nav-link"%></li>
                    <li class="nav-item"><%= link_to "Cerrar Sesión", destroy_user_session_path, :method => :delete , class:"nav-link"%></li>
                    <% else%>
                    <li class="nav-item"><%= link_to "Iniciar Sesión", new_user_session_path , class:"nav-link"%></li>
                    <% end %>
                </ul>
            </div>
        </div>
        </nav>

    <div class="col-0">
        <ul class="leftnav" style="border-right: 2px solid #000;">
            <li><%= link_to 'Perfil', root_path, class:'leftunselectfont' %></li>
            <li><%= link_to 'Informacion', info_path, class:'leftunselectfont' %></li>
            <li><%= link_to 'Encargado Seguimiento', seg_info_path, class:'leftunselectfont' %></li>
            <li><%= link_to 'Horas Registradas', hours_show_path, class:'leftselectfont' %></li>
            
            <img class="imgmarg" src="../assets/img/Asesc.png" alt="">
        </ul>
    </div>  
    <div class="container px-4 px-lg-5 col-7">
        <p class="datatit">ACTUALIZACION DEL PROCESO:</p> 
   
        <%= render 'form', hour: @hour %>

        <%= link_to 'Show', @hour %> |
        <%= link_to 'Back', hours_path %>
    </div>
 </div>
