<body>
<div class="container-fluid">
    <div class="row">
        <div class="topnav col-md-12 themed-grid-col" style="border-bottom: 2px solid #000"></div>
        <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
        <div class="container px-4 px-lg-5">
            <a class="navbar-brand" href="inicio#page-top">Alpha Services - Inicio</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ms-auto my-2 my-lg-0">
                    <% if user_signed_in? %>
                    <li class="nav-item"><%= link_to "Editar Perfil", edit_user_registration_path, class:"nav-link"%></li>
                    <li class="nav-item"><%= link_to "Cerrar Sesión", destroy_user_session_path, :method => :delete , class:"nav-link"%></li>
                    <% else%>
                    <li class="nav-item"><%= link_to "Iniciar Sesión", new_user_session_path , class:"nav-link"%></li>
                    <% end %>
                </ul>
            </div>
        </div>
        </nav>
      
  <div class="col-0">
    <ul class="leftnav" style="border-right: 2px solid #000;">
      <li><%= link_to 'Perfil', root_path, class:'leftunselectfont' %></li>
      <li><%= link_to 'Informacion', info_path, class:'leftunselectfont' %></li>
      <li><%= link_to 'Encargado Seguimiento', seg_info_path, class:'leftunselectfont' %></li>
      <li><%= link_to 'Horas Registradas', hours_show_path, class:'leftselectfont' %></li>

      <img class="imgmarg" src="../assets/img/Asesc.png" alt="">
    </ul>
  </div>

    <div class="container px-4 px-lg-5 col-7">
      <p class="datatit">Horas Registradas: </p> 
      <table class="tabla">
        <thead>
          <tr>
            <th>Estudiantes Asociados</th>
            <th>Número de Horas Completadas</th>
            <th>Observaciones</th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @hours.each do |hour| %>
            <tr>
              <td><%= hour.user.name %></td>
              <td><%= hour.number_hours %></td>
              <td><%= hour.observations %></td>
              <td><%= link_to 'Ver', hour %></td>
              <td><%= link_to 'Editar', edit_hour_path(hour) %></td>
              <td><%= link_to 'Eliminar', hour, method: :delete, data: { confirm: 'Esta seguro?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>  
      <%= link_to 'Crear nuevo registro', new_hour_path%>
    </div>
</div> 
<div class="marg text-muted">Copyright &copy; 2021 - Alpha Service</div>
</body>

<br>


