<body class="scroll">
  <div class="container-fluid">
    <div class="row">

      <div class="col-5 leftreg d-flex justify-content-center align-items-center slider"> 
        <img class="img-fluid" src="../assets/img/as1.png" alt="">
      </div> 

      <div class="col-7">

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
        <section class="edit-data">
         <div>
            <h4 class="justify-content-center row">Edicion de Perfil</h4>
              <hr class="divider" />
            <div class="field">
              <%= f.label :nombres %>
              <%= f.text_field :name, class: 'inputmid form-group'%>
            </div>

            <div class="field">
              <%= f.label :apellidos %>
              <%= f.text_field :last_name, class: 'inputmid form-group' %>
            </div>

            <div class="field">
              <%= f.label :email %>
              <%= f.email_field :email, autofocus: true, autocomplete: "email" , class: 'inputmid form-group'%>
            </div>

            <div class="field">
              <%= f.label :numero_de_documento %>
              <%= f.number_field :identity_document , class: 'inputmid form-group'%>
            </div>

            <div class="field">
              <%= f.label :tipo_de_documento %>
              <%= f.text_field :type_document, class:'inputmid form-group'%>
            </div>

            <div class="field">
              <%= f.label :numero_de_contacto %>
              <%= f.number_field :phone, class:'inputmid form-group'%>
            </div>

            <div class="field">
              <%= f.label :municipio_de_residencia %>
              <%= f.text_field :municipality, class:'inputmid form-group'%>
            </div>

            <div class="field">
              <%= f.label :direccion_de_residencia %>
              <%= f.text_field :address , class: 'inputmid form-group'%>
            </div>

            <div class="field">
              <%= f.label :contraseña %> <i>(Dejalo en blanco si no deseas cambiar la contraseña actual)</i>
              <%= f.password_field :password, autocomplete: "off" , class: 'inputmid form-group'%>
              <% if @minimum_password_length %>
                <em><%= @minimum_password_length %> caracteres minimos</em>
              <% end %>
            </div>

            <div class="field">
              <%= f.label :confirmar_contraseña %><br/>
              <%= f.password_field :password_confirmation, autocomplete: "off" , class: 'inputmid form-group'%>
            </div>

            <div class="field">
              <%= f.label :contraseña_actual %> <i>(Necesitamos que ingreses la contraseña actual para poder guardar los cambios realizados)</i><br />
              <%= f.password_field :current_password, autocomplete: "off" , class: 'inputmid form-group'%>
            </div>

            <div class="actions d-flex flex-row justify-content-center">
              <%= f.submit "Actualizar Datos!" , class: 'btn btn-primary'%>
            </div>
          
          </div>
        </section>
      <% end %>
    </div> 
  </div>
 </div>
</body>