<body class="scroll">
  <div class="container-fluid">
    <div class="row">

      <div class="col-5 leftreg d-flex justify-content-center align-items-center slider"> 
        <img class="img-fluid" src="../assets/img/as1.png" alt="">
      </div> 

      <div class="col-7">

        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>
          <section class="form-register"> 
            <div>
              <h4 class="justify-content-center row">Formulario de Registro</h4>
              <hr class="divider" />

              <div class="field">
                <%= f.text_field :name, class: 'inputmid form-group', placeholder: 'Ingrese su(s) nombre(s)' %>
              </div>

              <div class="field">
                <%= f.text_field :last_name, class: 'inputmid form-group',placeholder: 'Ingrese sus apellidos' %>
              </div>

              <div class="field">
                <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'inputs form-group', placeholder: 'Ingrese su correo electronico' %>
              </div>

              <div class="field">
                <%= f.number_field :identity_document, class: 'inputmid form-group', placeholder: 'Ingrese su número de identidad' %>
              </div>

              <div class="field">
                <%= f.text_field :type_document, class: 'inputmid form-group', placeholder: 'Ingrese el tipo de documento' %>
              </div>

              <div class="field">
                <%= f.number_field :phone, class: 'inputmid form-group', placeholder: 'Ingrese un numero de contacto' %>
              </div>

              <div class="field">
                <%= f.text_field :municipality, class: 'inputmid form-group', placeholder: 'Ingrese su municipio de residencia' %>
              </div>

              <div class="field">
                <%= f.text_field :address, class: 'inputs form-group', placeholder: 'Ingrese su dirección de residencia' %>
              </div>

              <div class="field">
                <%= f.password_field :password, autocomplete: "off", class: 'inputs form-group', placeholder: 'Ingrese su contraseña (Con mínimo 6 carácteres)' %>
              </div>

              <div class="field">
                <%= f.password_field :password_confirmation, autocomplete: "off", class: 'inputs form-group', placeholder: 'Confirme su contraseña' %>
              </div><br />

              <div class="actions d-flex flex-row justify-content-center">
                <%= f.submit "Registrarme!", class: 'btn btn-primary' %>
              </div>

              <%- if controller_name != 'sessions' %>
               <%= link_to "Ya estas registrado?", new_session_path(resource_name) %><br />
              <% end %>

            </div>
          </section>
        <% end %>
      </div> 
    </div>
  </div>
</body>

