<%= form_with(model: profesore) do |form| %>
  <% if profesore.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(profesore.errors.count, "error") %> prohibited this profesore from being saved:</h2>

      <ul>
        <% profesore.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :deparamento %>
    <%= form.text_field :deparamento %>
  </div>

  <div class="field">
    <%= form.label :salon %>
    <%= form.number_field :salon %>
  </div>

  <div class="field">
    <%= form.label :nombre %>
    <%= form.text_field :nombre %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
