<p id="notice"><%= notice %></p>

<h1>Profesores</h1>

<table>
  <thead>
    <tr>
      <th>Deparamento</th>
      <th>Salon</th>
      <th>Nombre</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @profesores.each do |profesore| %>
      <tr>
        <td><%= profesore.deparamento %></td>
        <td><%= profesore.salon %></td>
        <td><%= profesore.nombre %></td>
        <td><%= link_to 'Show', profesore %></td>
        <td><%= link_to 'Edit', edit_profesore_path(profesore) %></td>
        <td><%= link_to 'Destroy', profesore, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Profesore', new_profesore_path %>
