<p id="notice"><%= notice %></p>

<p>
  <strong>Deparamento:</strong>
  <%= @profesore.deparamento %>
</p>

<p>
  <strong>Salon:</strong>
  <%= @profesore.salon %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @profesore.nombre %>
</p>

<%= link_to 'Edit', edit_profesore_path(@profesore) %> |
<%= link_to 'Back', profesores_path %>
