<body>
<div class="container-fluid">
    <div class="row">
        <div class="topnav col-md-12 themed-grid-col" style="border-bottom: 2px solid #000"></div>
        <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
        <div class="container px-4 px-lg-5">
            <a class="navbar-brand" href="inicio#page-top">Alpha Services - Inicio</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ms-auto my-2 my-lg-0">
                    <% if user_signed_in? %>
                    <li class="nav-item"><%= link_to "Editar Perfil", edit_user_registration_path, class:"nav-link"%></li>
                    <li class="nav-item"><%= link_to "Cerrar Sesión", destroy_user_session_path, :method => :delete, class:"nav-link" %></li>
                    <% else%>
                    <li class="nav-item"><%= link_to "Iniciar Sesión", new_user_session_path, class:"nav-link" %></li>
                    <% end %>
                </ul>
            </div>
        </div>
        </nav>
    

 <div class="col-0">
    <ul class="leftnav" style="border-right: 2px solid #000;">
    <li><%= link_to 'Perfil', root_path, class:'leftunselectfont' %></li>
    <li><%= link_to 'Informacion', info_path, class:'leftselectfont' %></li>
    <li><%= link_to 'Encargado Seguimiento', seg_info_path, class:'leftunselectfont' %></li>
    <li><%= link_to 'Horas Registradas', hours_show_path, class:'leftunselectfont' %></li>
    
    <img class="imgmarg" src="../assets/img/Asesc.png" alt="">
</ul>

</div>
        <div class="margenport container col-7">
            <p class="datatit" style="text-align:center;">TAREAS DE ALFABETIZACION:</p> 
            
            <div id="portfolio">
                <div class="container-fluid p-0">
                    <div class="row ">
                        <div class="col-lg-4 col-sm-6">
                            <a class="portfolio-box" href="assets/img/portfolio/fullsize/1.jpg" title="Project Name">
                                <img class="img-fluid" src="assets/img/portfolio/thumbnails/1.jpg" alt="..." />
                                <div class="portfolio-box-caption">
                                    <div class="project-category text-white-50">Lugar para alfabetizar</div>
                                    <div class="project-name">Huerta</div>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-4 col-sm-6">
                            <a class="portfolio-box" href="assets/img/portfolio/fullsize/2.jpg" title="Project Name">
                                <img class="img-fluid" src="assets/img/portfolio/thumbnails/2.jpg" alt="..." />
                                <div class="portfolio-box-caption">
                                    <div class="project-category text-white-50">Lugar para alfabetizar</div>
                                    <div class="project-name">Biblioteca</div>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-4 col-sm-6">
                            <a class="portfolio-box" href="assets/img/portfolio/fullsize/3.jpg" title="Project Name">
                                <img class="img-fluid" src="assets/img/portfolio/thumbnails/3.jpg" alt="..." />
                                <div class="portfolio-box-caption">
                                    <div class="project-category text-white-50">Lugar para alfabetizar</div>
                                    <div class="project-name">Bienestar Estudiantil</div>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-4 col-sm-6">
                            <a class="portfolio-box" href="assets/img/portfolio/fullsize/4.jpg" title="Project Name">
                                <img class="img-fluid" src="assets/img/portfolio/thumbnails/4.jpg" alt="..." />
                                <div class="portfolio-box-caption">
                                    <div class="project-category text-white-50">Tarea para alfabetizar</div>
                                    <div class="project-name">Reciclaje</div>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-4 col-sm-6">
                            <a class="portfolio-box" href="assets/img/portfolio/fullsize/5.jpg" title="Project Name">
                                <img class="img-fluid" src="assets/img/portfolio/thumbnails/5.jpg" alt="..." />
                                <div class="portfolio-box-caption">
                                    <div class="project-category text-white-50">Tarea para alfabetizar</div>
                                    <div class="project-name">Ayudar a los docentes</div>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-4 col-sm-6">
                            <a class="portfolio-box" href="assets/img/portfolio/fullsize/6.jpg" title="Project Name">
                                <img class="img-fluid" src="assets/img/portfolio/thumbnails/6.jpg" alt="..." />
                                <div class="portfolio-box-caption p-3">
                                    <div class="project-category text-white-50">Tarea para alfabetizar</div>
                                    <div class="project-name">Ayudar en las unidades</div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
        
            <p class="datatit" style="text-align:center;">ZONAS EXTERNAS:</p> 

            <div id="portfolio">
                <div class="container-fluid">
                    <div class="row ">
                        <div class="col-lg-4 col-sm-6">
                            <a class="portfolio-box" href="assets/img/portfolio/fullsize/7.jpeg" title="Project Name">
                                <img class="img-fluid" src="assets/img/portfolio/thumbnails/7.jpeg" alt="..." />
                                <div class="portfolio-box-caption">
                                    <div class="project-category text-white-50">LUGAR</div>
                                    <div class="project-name">Cruz Roja</div>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-4 col-sm-6">
                            <a class="portfolio-box" href="assets/img/portfolio/fullsize/8.jpg" title="Project Name">
                                <img class="img-fluid" src="assets/img/portfolio/thumbnails/8.jpg" alt="..." />
                                <div class="portfolio-box-caption">
                                    <div class="project-category text-white-50">LUGAR</div>
                                    <div class="project-name">Jardín Botanico</div>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-4 col-sm-6">
                            <a class="portfolio-box" href="assets/img/portfolio/fullsize/9.jpg" title="Project Name">
                                <img class="img-fluid" src="assets/img/portfolio/thumbnails/9.jpg" alt="..." />
                                <div class="portfolio-box-caption">
                                    <div class="project-category text-white-50">Lugar</div>
                                    <div class="project-name">Zoologico</div>
                                </div>
                            </a>
                        </div>
                    
                    </div>
                
                </div>
            </div>
        </div> 
</div>
</div> 
<div class="marg text-muted">Copyright &copy; 2021 - Alpha Service</div>
</body>

