<body>
<div class="container-fluid">
    <div class="row">
        <div class="topnav col-md-12 themed-grid-col" style="border-bottom: 2px solid #000"></div>
        <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
        <div class="container px-4 px-lg-5">
            <a class="navbar-brand" href="../../inicio#page-top">Alpha Services - Inicio</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ms-auto my-2 my-lg-0">
                    <% if user_signed_in? %>
                    <li class="nav-item"><%= link_to "Editar Perfil", edit_user_registration_path, class:"nav-link"%></li>
                    <li class="nav-item"><%= link_to "Cerrar Sesión", destroy_user_session_path, :method => :delete , class:"nav-link"%></li>
                    <% else%>
                    <li class="nav-item"><%= link_to "Iniciar Sesión", new_user_session_path , class:"nav-link"%></li>
                    <% end %>
                </ul>
            </div>
        </div>
        </nav>
        <p class="datatit">Datos Usuarios: </p> 

<table class="tabla">
  <thead>
    <tr>
      <th>Rol</th>
      <th>Email</th>
      <th colspan="1"></th>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Documento Identidad</th>
      <th>Tipo Documento</th>
      <th>Telefono</th>
      <th>Municipio</th>
      <th>Dirección</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.role.name %></td>
        <td><%= user.email %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= user.name %></td>
        <td><%= user.last_name %></td>
        <td><%= user.identity_document %></td>
        <td><%= user.type_document %></td>
        <td><%= user.phone %></td>
        <td><%= user.municipality %></td>
        <td><%= user.address %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Crear Nuevo Usuario', new_user_path , class: 'btn btn-primary'%>
