<body class="scroll">
  <div class="container-fluid">
    <div class="row ">
      <div class="col-5 leftreg d-flex justify-content-center align-items-center"> 
        <img class="img-fluid" src="../assets/img/as1.png" alt="">
      </div> 

      <div class="col-7">
        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>
          <section class="form-login"> 
            <div>
              <h4 class="justify-content-center row">Recuperar Contraseña</h4>
              <hr class="divider" />
              <div class="field">
                <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'Digite su Correo Electronico', class: "inputs form-group"%>
              </div>

              <div class="actions form-group d-flex flex-row justify-content-center">
                <%= f.submit "Enviar instrucciones de recuperación", class: "btn btn-primary" %>
              </div>
          </section>
        <% end %> 
      </div> 
