<body class="scroll">
  <div class="container-fluid">
    <div class="row ">
      <div class="col-5 leftreg d-flex justify-content-center align-items-center"> 
        <img class="img-fluid" src="../assets/img/as1.png" alt="">
      </div> 
      <div class="col-7">

        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <section class="form-login"> 
            <div>
              <h4 class="justify-content-center row">Inicia Sesión</h4>
              <hr class="divider" />

              <div class="field">
                <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'Digite su Correo Electronico', class: "inputs form-group" %>
              </div>

              <div class="field">
                <%= f.password_field :password, autocomplete: "off", placeholder: 'Digite su Contraseña', class: "inputs form-group"%>
              </div>

              <% if devise_mapping.rememberable? %>
                <div class="field">
                  <%= f.check_box :remember_me %>
                  <%= f.label :recordarme %>
                </div>
              <% end %>

              <hr class="divider" />

              <div class="actions form-group d-flex flex-row justify-content-center">
                <%= f.submit "Iniciar Sesión", class: "btn btn-primary" %>
              </div>
              <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
                <%= link_to "Registrate Ahora!", new_registration_path(resource_name) %><br />
              <% end %>

              <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
                <%= link_to "Olvidastes tu contraseña?", new_password_path(resource_name) %><br />
              <% end %>
            </div>
          </section>
        <% end %> 
      </div> 
    </div>
  </div>
</body>