<!DOCTYPE html>
<html>
  <head>
    <title>Alpha Services</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    <!--<% if user_signed_in? %>
      Has iniciado sesión como: <%= current_user.role.name %>
      <%= link_to "Editar mi Perfil", edit_user_registration_path %>
      <%= link_to "Cerrar Sesión", destroy_user_session_path, :method => :delete %>
    <% else %>
      <%= link_to "Registrarse Ahora!", new_user_registration_path %> o
      <%= link_to "Iniciar Sesión", new_user_session_path %>
    <% end %>

    <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, id: "flash_#{name}" %>
    <% end %>-->
    
  </body>
</html>
